html{
	height: 100%;
}

body{
	margin:0%;
	height: 100%;
}
div.box{
	box-sizing: border-box;
	height: 400px;
	width: 300px;
	background: white;
	border:20px solid grey;
	display: inline-block;
 position: absolute;
 left:40.234375%;
 top:22.6%;

}